/*1- html elements 
2- ids 
3-class 
4-data anime 
*/

/* html elements */
body{
  margin: 0;
   
   
}
/*ids*/
#apresentacao{
    background-color: rgb(64, 64, 185);
    padding: 5%;
}
#text-apresentacao{
display: flex;
flex-direction: column;


}


/*class*/
.titulo {
    font-family: "Lexend", sans-serif;
    font-size: 500%;
    color: white;
    text-shadow: 4px 4px 8px rgb(31, 28, 28);
    margin-right: 10%;
}

.sub_titulo {
    font-family: "Chivo", sans-serif;
    color: white;
 
}

.img_apresentar {
    width: 5%;
    height: 5%;
}

/*data anime*/
[data-anime] {
    opacity: 0;
    transition: 1s;
  }
  
  [data-anime="down"] {
    transform: translate3d(0, -100%, 0);
  }
  
  [data-anime="up"] {
    transform: translate3d(0, 100%, 0);
  }
  
  [data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px ,0 ,0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0 ,0 ,0);
  }
